body {
     background-color: #8585ad;
}

a:link, a:visited {
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
	text-shadow: 2px 2px #555555;
}

h1 {
   text-shadow: 2px 2px #555555;
   text-align: center;
}

h2 {
   text-shadow: 2px 2px #555555;
   text-align: left;
}

div {
    width: 75%;
    text-align: justify;
}

#rightpic {
    float: right;
    width: 340px;
    margin: 20px 10px 0 10px;
    text-align: center;
}

#leftpic {
    float: left;
    width: 340px;
    margin: 20px 10px 0 10px;
    text-align: center;
}